<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xmas_Grotto_Information.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Xmas_Grotto_Information.Properties.Settings>
            <setting name="giNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="giFTPHost" serializeAs="String">
                <value>access802899325.webspace-data.io</value>
            </setting>
            <setting name="giFTPUsername" serializeAs="String">
                <value>u98941559</value>
            </setting>
            <setting name="giFTPPassword" serializeAs="String">
                <value>Jadzia1984!</value>
            </setting>
            <setting name="giFTPPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="giRFAdult" serializeAs="String">
                <value>/X22/hQDo6TUAuImqWENYQjdjMHhdKeiFYqsvMKhMPNBgM7oXUCNkXB4rtBH7i3tYubYh</value>
            </setting>
            <setting name="giRFChild" serializeAs="String">
                <value>/X22/uzmQIAHBSH6kusMp9tNpbSvEn5IGJKaB5ESX3WUWmPeMVNRnBFxudnt4ubtaAfbJ</value>
            </setting>
            <setting name="giRFFamily" serializeAs="String">
                <value>/X22/3hbQnlLEQA870bKszQg8dIWQ5cLzZm2wOCJj5zym0eFKZwgBn2T0ZS9i03fit53q</value>
            </setting>
            <setting name="giWait" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="giLocalSave" serializeAs="String">
                <value />
            </setting>
            <setting name="giMonitorLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="giCamLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="giGrottoLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="giMonitorInt" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="giUnique" serializeAs="String">
                <value>645765</value>
            </setting>
            <setting name="giElfName" serializeAs="String">
                <value>Snuggles</value>
            </setting>
            <setting name="giElfActor" serializeAs="String">
                <value>Mandy</value>
            </setting>
            <setting name="giSantaActor" serializeAs="String">
                <value>Kevin</value>
            </setting>
            <setting name="giStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="giQuestionFile" serializeAs="String">
                <value />
            </setting>
            <setting name="giFamilyChecked" serializeAs="String">
                <value>,,,,,,,,,,,,,,,,,</value>
            </setting>
            <setting name="giAdultChecked" serializeAs="String">
                <value>,,,,,,,,,,,,,,,,,</value>
            </setting>
            <setting name="giChildChecked" serializeAs="String">
                <value>,,,,,,,,,,,,,,,,,</value>
            </setting>
            <setting name="giDCPW" serializeAs="String">
                <value>TFI4gOfiMnABxa4UG9BuJAh4fUjayi5ySGHVB0XeT3qrgdFh8gj27ArwUUH8pBFZ</value>
            </setting>
            <setting name="giStatusList" serializeAs="String">
                <value>Open,Break,Closed,Broken - Camera, Broken - Santa, Broken - Elf, Broken - Screen</value>
            </setting>
        </Xmas_Grotto_Information.Properties.Settings>
    </userSettings>
</configuration>